.file{
    display: flex;
    justify-content: space-around;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
}

.fileContainer{
    text-align: center;
}

.deleteBtn{
    width: 80vw;
    height: 8vh;
}
